:root {
  --am-primary-red: #e20014;
  --am-primary-white: rgb(255, 255, 255);
}
.am-userImageDiv {
  width: 110px;
  height: 100px;
  position: relative;
}

#am-avtar_previiew_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 100% 100% !important;
  background-position: center;
}

.am-file-input {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: var(--am-primary-red);
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.am-file-label {
  display: grid;
  place-content: center;
  background-color: var(--am-primary-red);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  color: #fff;
  right: 0;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.am-content {
  padding-top: 56px;
  padding-bottom: 60px;
}

.blood-drop {
  width: 50px;
  height: 60px;
  background: radial-gradient(
    circle at top,
    rgba(255, 100, 100, 0.9),
    rgba(150, 0, 0, 1)
  );
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(150 0 0 / 32%);
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Light reflection */
.blood-drop::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0.8;
}

.Toastify__toast-container {
  top: 50% !important;
  transform: translateY(-50%) !important; 
}
.custom-toast {
  background: #393939 !important;
  color: white !important;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 200px !important;
  height: auto !important;
  min-height: 150px !important;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 15px !important;
  opacity: 1;
  font-size: 20px;
}
.Toastify__toast-icon{
  width: 30px;
  margin-bottom: 5px;
}

.Toastify__close-button {
  color: white !important;
  opacity: 1 !important;
}
